/* Basic Style */
ul {
  margin: 0;
  padding: 0;
}
li, 
h3 {
  list-style: none;
}
input,
button{
  outline: none;
}
.container {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}
button:hover {
  color: #3a3A3a;
}
/* header start */
.header {
  text-align: right;
}
.header-image__img {
  width: 100%;
}
.subtitle__link {
  font-family: fantasy, 
               cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}

/* Titles */
.box-title { 
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
/* Tasks Text content */
.task_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task_text:focus {
  color: #333;
}
/* Tasks containers */
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task_wide {
  width: 318px;
}
.task_medium {
  width: 226px;
}
.task_row {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
/* ADD TASK New Task*/
.add-title-inner{
  display: block;
  margin: 0 0 20px;
}
.item-row {
  display: flex;
}
/* Task list */
.checkbox {
  margin: 0 10px;
}
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
li > * {
  vertical-align: middle;
}
.delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete__img:hover {
  transform: rotateZ(0);
}
/* Completed */
#completedTasks label {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
ul li input[type=text] {
  display: none;
}
.editMode input[type=text] {
  display: inline-block;
  width: 224px;
}
.editMode label {
  display: none;
}